{% extends "base.html" %}
{% block body %}
<style>
    .selector {
        color: black;
        width: 95%;
        margin-left: 2%;
        font-size: 15px;
        border: 2px solid #000;

        white-space: pre-wrap;
    }
</style>
Statys: {% if  res['Stayt'] == 0 %}
⚪️
{% elif  res['Stayt'] == 1 %}
🟡
{% elif  res['Stayt'] == 2 %}
🟢
{% elif  res['Stayt'] == 3 %}
🔴
{% endif %}
<br>
<a href="/contract/{{res['id']}}/view">View Code</a><br>
{% if res['Mode'] == "PointsMode" and res['Stayt'] == 2 %}
<a href="/contract/{{res['id']}}/AnalisText">View Analis Text</a><br>
<a href="/contract/{{res['id']}}/Analis">View Analis</a><br>
{% endif %}

<div class="selector">{{res['ContractOutp']}}
</div><br>
<div class="selector">{{res['ContractCode']}}
</div>

{% endblock %}