{% extends "base.html" %}
{% block body %}
<style>
    .selector {
        color: black;
        width: 95%;
        margin-left: 2%;
        font-size: 15px;
        border: 2px solid #000;

        white-space: pre-wrap;
    }
</style>
Statys: {% if  res['Stayt'] == 0 %}
            ⚪️
        {% elif  res['Stayt'] == 1 %}
            🟡
        {% elif  res['Stayt'] == 2 %}
            🟢
        {% elif  res['Stayt'] == 3 %}
            🔴
        {% endif %}
<div class="selector">{{res['ContractCode']}}
</div>

<script>
    function sendGETRequest() {
    // Создаем новый объект XMLHttpRequest
    var xhr = new XMLHttpRequest();

    // Настраиваем запрос, указывая метод, URL и асинхронность
    xhr.open('GET', '/contract/{{res["id"]}}/Stayt', true);

    // Устанавливаем обработчик события загрузки данных
    xhr.onload = function () {
        // Проверяем успешность выполнения запроса
        if (xhr.status >= 200 && xhr.status < 300) {
            // Выводим ответ на консоль
            console.log('Ответ сервера:', xhr.responseText);
            if(xhr.responseText!= "{{res['Stayt']}}")
            {
                location.reload();
            }
        } else {
            // Выводим сообщение об ошибке на консоль
            console.error('Ошибка при выполнении запроса. Статус:', xhr.status, 'Текст ошибки:', xhr.statusText);
        }
    };

    // Устанавливаем обработчик события ошибки
    xhr.onerror = function () {
        console.error('Сетевая ошибка при выполнении запроса');
    };

    // Отправляем запрос
    xhr.send();
}

setInterval(sendGETRequest, 5000);
</script>
{% endblock %}